<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SocialNetEntities" connectionString="metadata=res://*/BDModel.csdl|res://*/BDModel.ssdl|res://*/BDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:wzkost9cdc.database.windows.net,1433;Database=SocialNet;User ID=adminSocial@wzkost9cdc;Password=C4mb14m3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=socialst;AccountKey=6izmJM/Dsz2gQEhd0HWFNfN3A4CMokjhrVdfoLsPo/q3osHqjhF5Ng+rhxYOI/2tbhsGHQb/GryKKeIpuyB6EQ==" />
    <add key="PathHandler" value="http://socialhandler.azurewebsites.net/images/" />
  </appSettings>
</configuration>
