<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif">

        <div style="width:600px; height:200px; padding:30px; margin-top:30px;">

            <p>Querido {0},<p>

            <p>Por favor haga click en el siguiente link para resetear su contraseña.</p>
            <p>
                <a href="http://localhost:56489/es/account/changepassword?c={3}">http://localhost:56489/es/account/changepassword?c={3}</a>
                <br />
            <p>Gracias</p>
        </div>
</body>
</html>