@section header
{
    <title>@Web_Resource.Site.title</title>
}
@section style
{
    <link href="~/Assets/css/Views/Shared/error404.css" rel="stylesheet" />
}
@section script
{
}
<main class="mdl-layout__content">
    <div class="container">
        <div class="error-404">
            <h1 class="strong">4<i class="material-icons">sentiment_dissatisfied</i>4 <br><small>Lo sentimos!</small></h1>
            <h3>Esta página que esta buscando no esta disponible.</h3>
        </div>
    </div>
</main>