<div class="thumbnail"
     ngf-thumbnail="file"
     ngf-size="{height: 328, quality: .8}"
     ngf-as-background="true">
    <button type="button" ng-click="file=undefined"
            class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored clearItem">
        <i class="material-icons">clear</i>
    </button>
</div>