.card__friend{
  width: 256px;
  height: 256px;
  margin: 15px 30px 15px 0;
  float: left;
}
.card__friend > .card__menu {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}
.card__friend:hover .card__menu {
    display: block;
}
.card__friend > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
}
.card__friend > .mdl-card__actions > .card__action {
  float: right;
  color: #fff;
  margin-top: -5px;
}
.card__friend > .mdl-card__actions > a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 100;
}

@media only screen and (max-device-width: 850px) {
    .card__friend {
        margin: 30px auto;
        float: none;
    }
}